In [3]:
import datetime

import pandas as pd
from jqdatasdk import *

auth('your account', 'your password')

auth success

In [6]:
q=query(finance.FUND_MAIN_INFO).filter(finance.FUND_MAIN_INFO.main_code=='000198')
df=finance.run_query(q)

In [7]:
df.head()

,id,main_code,name,advisor,trustee,operate_mode_id,operate_mode,underlying_asset_type_id,underlying_asset_type,start_date,end_date
0,114,000198,天弘余额宝,天弘基金管理有限公司,中信银行股份有限公司,401001,开放式基金,402002,货币型,2013-05-29,None

In [23]:
import datetime
from dateutil.relativedelta import relativedelta

from jqdatasdk import finance


def get_profit(years=1):
    min_start_date = datetime.datetime(2014, 1, 1)
    max_start_date = datetime.datetime(2020, 1, 1)

    for idx, i in enumerate(range(0, 6)):
        profit_start_date = min_start_date + relativedelta(years=idx)
        profit_end_date = profit_start_date + relativedelta(years=years)
        if profit_end_date > max_start_date:
            break

        start_df = finance.run_query(query(finance.FUND_NET_VALUE).filter(finance.FUND_NET_VALUE.code=='000198', finance.FUND_NET_VALUE.day>profit_start_date.strftime('%Y-%m-%d')).limit(1))
        end_df = finance.run_query(query(finance.FUND_NET_VALUE).filter(finance.FUND_NET_VALUE.code=='000198', finance.FUND_NET_VALUE.day<profit_end_date.strftime('%Y-%m-%d')).order_by(finance.FUND_NET_VALUE.day.desc()).limit(1))
        start_sum_value = start_df.iloc[0].sum_value 
        end_sum_value = end_df.iloc[0].sum_value
        profit = (end_sum_value - start_sum_value) / start_sum_value
        print(profit_start_date.strftime('%Y-%m-%d'), profit_end_date.strftime('%Y-%m-%d'), round(profit * 100, 2))

print(get_profit(1))
print(get_profit(3))
print(get_profit(5))

2014-01-01 2015-01-01 4.54
2015-01-01 2016-01-01 3.33
2016-01-01 2017-01-01 2.22
2017-01-01 2018-01-01 3.37
2018-01-01 2019-01-01 2.87
2019-01-01 2020-01-01 1.92
None
2014-01-01 2017-01-01 10.45
2015-01-01 2018-01-01 9.2
2016-01-01 2019-01-01 8.72
2017-01-01 2020-01-01 8.4
None
2014-01-01 2019-01-01 17.49
2015-01-01 2020-01-01 14.52
None

In [38]:
foo = 700
bar = foo * ((1+0.003) ** 5)
print(bar)
print(((bar - foo) / foo) * 100)

710.5631892836698
1.5090270405242532

In [ ]:
700